RAILS_ENV=development
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=task_list_development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
TASK_LIST_DATABASE_PASSWORD=password
SECRET_KEY_BASE=change_this_to_a_secure_value
